<template>
    <q-page class="flex flex-center" window-width="100%">
        <q-card class="q-ma-lg my-card card">
      <q-card-section class="q-my-lg">
        <div class="text-h5">Réseau Action Climat</div>
        <div class="text-subtitle2">Des associations engagées partout en France</div>
      </q-card-section>

      <q-card-section horizontal>
        <q-img class="col-5 q-ma-md" style="border-radius: 10px;"
          src="https://media.istockphoto.com/id/1322842973/fr/photo/divers-hommes-daffaires-se-mettent-la-main-%C3%A0-l%C3%A9tau-en-cirle.jpg?s=612x612&w=0&k=20&c=04dfYmnXJ093vmUDPl3Tq3bEV_zpEqN1kiq6XhQk0VA="
        />

        <q-card-section vertical>
          <q-card-section>
            <div class="text-h6">Des valeurs fortes</div>
            {{ lorem }}
          </q-card-section>

          <q-card-section>
            {{ loremBis }}
          </q-card-section>

          <q-card-section>
            {{ loremTer }}
          </q-card-section>
        </q-card-section>
      </q-card-section>
    </q-card>
  </q-page>
</template>
  
  <script>
  import { defineComponent, ref } from 'vue'
  
  export default defineComponent({
    name: "ContactAsso",
  
    components: {

    },
  
    setup() {
        return {
            lorem: "Le changement climatique est un sujet de préoccupation pour 27 associations nationales et 10 associations locales qui font partie du Réseau Action Climat-France. Il agit à toutes les échelles pertinentes, à l'échelle nationale et internationale. De plus, il est le représentant en France d'un important réseau mondial et européen qui compte près de 1900 membres à travers le monde.",
            loremBis: "Le Réseau Action Climat-France est engagé dans la mise en œuvre de mesures visant à réduire les émissions de gaz à effet de serre dans tous les secteurs responsables, en raison des conséquences importantes actuelles et futures du changement climatique sur la société.  Convaincu que la lutte contre le changement climatique représente également une formidable option de sortie de crise et doit, pour réussir, bénéficier au plus grand nombre, il promeut des mesures à la fois bonnes pour le climat mais aussi porteuses de bénéfices en termes de création d'emplois, de préservation de la santé et de plus de justice sociale et de solidarité.",
            loremTer: "Calvaire de saint-ciboire de doux Jésus de ciboire de sacristi de bout d'viarge de tabarnouche de cibouleau de colon de cul de calvince de taboire de mangeux d'marde de maudit de sainte-viarge d'enfant d'chienne d'étole de sapristi de purée de viarge de saint-ciarge de boswell de patente à gosse de mosus de Jésus Marie Joseph de sacrament de bâtard de mautadine d'estique de maudine de crucifix de sacréfice de tabarnane de cimonaque de viande à chien de maudite marde de Jésus de plâtre de cossin."
            }
        },
  });
  </script>
  
  <style>
  .card {
    background-color: #ecedda;
}
  </style>
  