<template>
    <div class="row justify-center">
        <div class="col-9">
            <h2>
                Mentions légales
            </h2>
            <div class="content-bg padding-content">
                <div class="padding-title">
                    <p>
                        Site créé dans le contexte de la Nuit de l'Info 2023. Plus d'informations sur l'événement : https://www.nuitdelinfo.com/
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.content-bg {
  background-color: #ecedda;
}

.padding-title {
    padding: 0 2%;
}

.padding-content {
    padding: 2%;
}

h4 {
    color: #F2A20C;
}
</style>