<template>
  
  <q-page class="flex flex-center" window-width="100%">
    <div class="recap" v-if="finished">
      <div>
        <b>
          <p>Score : {{ score }}</p>

          <p>Score agriculture et alimentation : {{ scoreTheme1[0] }} / {{ scoreTheme1[1] }}</p>
          <p>Score énergie & industrie: {{ scoreTheme2[0] }} / {{ scoreTheme2[1] }}</p>
          <p>Score bâtiment: {{ scoreTheme3[0] }} / {{ scoreTheme3[1] }}</p>
          <p>Score transports et mobilités : {{ scoreTheme4[0] }} / {{ scoreTheme4[1] }}</p>
      </b>
      </div>
      <svg width="200" height="200">
        <line x1="0" y1="100" x2="200" y2="100" stroke="black" stroke-width="2" />
        <line x1="100" y1="0" x2="100" y2="200" stroke="black" stroke-width="2" />
        <line x1="100" :y1="getValueScore1()" :x2="getValueScore2()" y2="100" stroke="red" stroke-width="2" />
        <line :x1="getValueScore2()" y1="100" x2="100" :y2="getValueScore3()" stroke="red" stroke-width="2" />
        <line x1="100" :y1="getValueScore3()" :x2="getValueScore4()" y2="100" stroke="red" stroke-width="2" />
        <line :x1="getValueScore4()" y1="100" x2="100" :y2="getValueScore1()" stroke="red" stroke-width="2" />
        <text x="15%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="15">
          Batiment
        </text>
        <text x="80%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="15">
          Transport
        </text><text x="60%" y="10%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="15">
          Industrie & Energie
        </text><text x="50%" y="90%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="15">
          Agriculture & alimentation
        </text>
      </svg>
    </div>
    <q-card class="my-card" window-width="100%" v-if="!finished">
        <div>
          score : {{ score }}<br>question numero : {{ index+1 }}
        </div>
      <q-card-section>
        <div>
          <p>{{ data.data[index].question }}</p>
          
          <div v-if="repondu">
            <div v-if="reponseBonne">Réponse correct</div>
            <div v-else>Réponse incorrect</div>
          </div>
          <div v-else >
            <br>
            <q-btn color="white" text-color="black" label="Vrai" @click="test(true)"/>
            <q-btn color="white" text-color="black" label="Faux" @click="test(false)"/>
          </div>
      </div>
        <br>
        <b><span v-if="repondu" v-html="data.data[index].explication"></span></b>
      </q-card-section>
      <q-btn :color="getColor()" v-if="repondu"  text-color="black" label="Question suivante" @click="next()"/>
    </q-card>
  </q-page>
</template>

<script setup>
import { ref, defineComponent } from 'vue'
import { useQuestionStore, JsonData } from 'src/stores/store';
import data from '/src/data/quizz.json'; // Adjust the path

const questionStore = useQuestionStore();
const reponseBonne = ref(false);
const repondu = ref(false);
const index = ref(0);
const question = ref("");
const score = ref(0);

const scoreTheme1 = ref([0, 0]); // Bat
const scoreTheme2 = ref([0, 0]); // Transport
const scoreTheme3 = ref([0, 0]); // indus / energy
const scoreTheme4 = ref([0, 0]); // agriculture
const finished = ref(0); // agriculture
const max_h_w = 200;
const q = JsonData.jsonData;
console.log(q);
//let answered = true;
//let questions = new Array({q : "is it false", res: 0}, {q : "is it true", res: 1});

defineComponent({
    name: 'IndexPage'
})
function getColor() {
  if(reponseBonne.value) return 'green';
  else return 'red';
}
function getValueScore1() {
  return max_h_w / 2 - (max_h_w / 2) * (scoreTheme1.value[0]/scoreTheme1.value[1]);
}
function getValueScore2() {
  return max_h_w / 2 + (max_h_w / 2) * (scoreTheme2.value[0]/scoreTheme2.value[1]);
}
function getValueScore3() {
  return max_h_w / 2 + (max_h_w / 2) * (scoreTheme3.value[0]/scoreTheme3.value[1]);
}
function getValueScore4() {
  return max_h_w / 2 - (max_h_w / 2) * (scoreTheme4.value[0]/scoreTheme4.value[1]);
}
function test(bool) {
    if(index.value>=9) {
      finished.value = true;
      return;
    }
  const result = (data.data[index.value].resultat);
  const compare = result === bool;
  switch (data.data[index.value].theme) {
    case 'agriculture et alimentation'://4
      if(compare)
        scoreTheme4.value = [scoreTheme4.value[0] +1, scoreTheme4.value[1]+1];
      else
        scoreTheme4.value = [scoreTheme4.value[0], scoreTheme4.value[1]+1];
      console.log(scoreTheme4.value);
      break;
    case 'énergie'://3
      if(compare)
        scoreTheme3.value = [scoreTheme3.value[0] +1, scoreTheme3.value[1]+1];
      else
        scoreTheme3.value = [scoreTheme3.value[0], scoreTheme3.value[1]+1];
      console.log(scoreTheme3.value);
      break;
    case 'bâtiment'://1
      if(compare)
        scoreTheme1.value = [scoreTheme1.value[0] +1, scoreTheme1.value[1]+1];
      else
        scoreTheme1.value = [scoreTheme1.value[0], scoreTheme1.value[1]+1];
      console.log(scoreTheme1.value);
      break;
    case 'industrie'://3
      if(compare)
        scoreTheme3.value = [scoreTheme3.value[0] +1, scoreTheme3.value[1]+1];
      else
        scoreTheme3.value = [scoreTheme3.value[0], scoreTheme3.value[1]+1];
      console.log(scoreTheme3.value);
      break;
    case 'transports et mobilités'://2
      scoreTheme2.value[1]++;
      if(compare) {
        scoreTheme2.value[0]++;
      }
      break;
    default:
      break;
  }
  if(result === bool){
    if(!repondu.value){
      score.value++;
    }
    reponseBonne.value = true;

  }
  else{
    reponseBonne.value = false;
  }
  repondu.value = true;
  // if(bool=== questionStore.find(id=>id==1))
}

function next() {
  index.value++;
  repondu.value = false;
  reponseBonne.value = false;
  // if(bool=== questionStore.find(id=>id==1))
}
</script>
