<template>
    <q-page class="row justify-center q-mb-lg">
      <div class="col-9">
      <div>
          <h2>Ressources</h2>
        <p class="texte-intro">A travers nos grandes thématiques, découvrez les causes et impacts multiples du réchauffement climatique. A travers nos cinq rubriques, bâtiment, mobilité, agroalimentaire, agriculture et industrie lourde, explorez les grandes idées préconçues sur le climat. à travers des chiffres clés et des informations vérifiées développez votre esprit critique et informez-vous sur le monde de demain.</p>
        <q-card class="bg-global">
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="color-yellow"
          indicator-color="color-yellow"
          align="justify"
          narrow-indicator
        >
          <q-tab name="batiment" label="Bâtiment" />
          <q-tab name="mobilite" label="Mobilité" />
          <q-tab name="energie" label="Energie" />
          <q-tab name="agriculture-alimentaire" label="Agriculture Alimentaire" />
          <q-tab name="industrie" label="Industrie " />
        </q-tabs>

        <q-separator />

        <q-tab-panels class="bg-global" v-model="tab" animated>
          <q-tab-panel name="batiment">
            <div class="q-pa-sm">
              <h4 class="text-color-yellow">Bâtiment</h4>
              Le secteur du bâtiment est un secteur avec un impact direct sur l’environnement et la consommation de ressources. En France, il représente 43 % des consommations énergétiques annuelles et génère 23 % des émissions de gaz à effet de serre (GES).
              Ces consommations apparaissent lors de la construction et la rénovation des bâtiments, et se poursuivent tout au long de leur cycle de vie.
              En France, la précarité énergétique, c'est-à-dire le fait de pouvoir chauffer décemment son logement, touche 20% des ménages. Ce problème est lié au nombre de passoires thermiques existantes dans le parc immobilier privé. Il est estimé à plus de 7 millions pour les résidences principales. 
              Afin d’accompagner les foyers modestes dans la rénovation de leur logement, l'État Français accompagne à travers des aides financières.
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 1</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 2</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 3</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-green q-pa-md">
              <div class="text-h6 text-color-yellow">Nos sources pour aller plus loin</div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusantium temporibus fugiat quia alias sunt inventore molestiae quas minus. Dignissimos, soluta tempore provident numquam beatae ex hic explicabo aliquam delectus.
              Similique enim excepturi ipsum at praesentium facilis dolores esse totam, dolorum tempora accusamus quas. Hic beatae facilis maiores, aliquid iusto aut! Nostrum labore praesentium rem libero odit quam esse? Sunt?</p>
              <a class="text-color-yellow" href="https://www.notre-environnement.gouv.fr/">https://www.notre-environnement.gouv.fr/</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam minus rem vitae aliquam mollitia nobis reiciendis dolore hic ipsam dolorem quod voluptates, in unde enim vel ducimus! Amet, molestiae.
              Sit maxime eum minima! Iusto aliquid, reprehenderit recusandae tempora aliquam eaque nobis rerum reiciendis, a facere suscipit quia in adipisci quasi ipsum laudantium accusantium officia vel voluptatibus harum sunt voluptatum!</p>
              <a class="text-color-yellow" href="https://www.ecologie.gouv.fr/publication-du-6e-rapport-synthese-du-giec"> https://www.ecologie.gouv.fr/publication-du-6e-rapport-synthese-du-giec</a>
            </div>
          </q-tab-panel>

          <q-tab-panel name="mobilite">
            <div class="q-pa-sm">
              <h4 class="text-color-yellow">Mobilité</h4>
              En 2019 81% des transports sont effectués en voitures individuelles et deux roues, seulement 19% en transport en commun et enfin 2% en avion. Le nombre de kilomètres parcourus a augmenté de 28% depuis 1990. C’est la première source d’émission de gaz à effet de serre en France. 
De façon globale, le transport routier est responsable de 93% des émissions, entre les transports de marchandises et les trajets de particuliers. Les aménagements routiers ont conduit à un allongement des distances parcourues. Pourtant en 20 ans les émissions ont diminué grâce à des améliorations sur les normes environnementales. 
Plusieurs solutions sont émises, comme le réaménagement de l’espace urbain, avec un meilleur partage pour favoriser les modes de déplacements alternatifs, le passage aux véhicules électriques, mais aussi une évolution des pratiques et des comportements. Concernant le transport aérien, le train est notre meilleur allié. Ce dernier compte seulement 0,3% des émissions par an, alors qu’il transporte chaque année 11% des voyageurs et 9% des marchandises, ce qui représente 85 fois moins d’émission de GES et 22 fois moins que la voiture. 
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 1</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 2</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 3</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-green q-pa-md">
              <div class="text-h6 text-color-yellow">Nos sources pour aller plus loin</div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusantium temporibus fugiat quia alias sunt inventore molestiae quas minus. Dignissimos, soluta tempore provident numquam beatae ex hic explicabo aliquam delectus.
              Similique enim excepturi ipsum at praesentium facilis dolores esse totam, dolorum tempora accusamus quas. Hic beatae facilis maiores, aliquid iusto aut! Nostrum labore praesentium rem libero odit quam esse? Sunt?</p>
              <a class="text-color-yellow" href="https://reseauactionclimat.org/">https://reseauactionclimat.org/</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam minus rem vitae aliquam mollitia nobis reiciendis dolore hic ipsam dolorem quod voluptates, in unde enim vel ducimus! Amet, molestiae.
              Sit maxime eum minima! Iusto aliquid, reprehenderit recusandae tempora aliquam eaque nobis rerum reiciendis, a facere suscipit quia in adipisci quasi ipsum laudantium accusantium officia vel voluptatibus harum sunt voluptatum!</p>
              <a class="text-color-yellow" href="#">https://</a>
            </div>
          </q-tab-panel>

          <q-tab-panel name="energie">
            <div class="q-pa-sm">
              <h4 class="text-color-yellow">Energie</h4>
              Les caractéristiques techniques des logements et les pratiques environnementales des ménages ont de réels impacts sur la consommation énergétique du secteur résidentiel et les émissions de gaz à effet de serre associées. 

Le chauffage est le premier usage de demande d’énergie du secteur, le deuxième étant l’électricité spécifique, c'est-à-dire la consommation des biens électriques et électroniques. La consommation de cette dernière a plus que doublé entre 1982 et 2016, conséquence de l’utilisation généralisée des technologies d’information et de communication. 

On distingue aujourd’hui trois grandes ressources d’énergie : 
Les énergies fossiles telles que le charbon, pétrol, gaz naturel, ce sont elles qui sont les premières responsables du changement climatique
L’énergie nucléaire
Les énergies renouvelables

Mais aujourd’hui, qu’en est-il ? 
Les énergies polluantes sont les énergies fossiles 
L’énergie fossile la plus polluante est le charbon, le processus étant déjà lui même très polluant 
La moins polluante est par contre le gaz naturel
En énergie non polluantes, on a toutes les énergies renouvelables avec l’énergie solaire, éolienne et biomasse

            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 1</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 2</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 3</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-green q-pa-md">
              <div class="text-h6 text-color-yellow">Nos sources pour aller plus loin</div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusantium temporibus fugiat quia alias sunt inventore molestiae quas minus. Dignissimos, soluta tempore provident numquam beatae ex hic explicabo aliquam delectus.
              Similique enim excepturi ipsum at praesentium facilis dolores esse totam, dolorum tempora accusamus quas. Hic beatae facilis maiores, aliquid iusto aut! Nostrum labore praesentium rem libero odit quam esse? Sunt?</p>
              <a class="text-color-yellow" href="#">https://</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam minus rem vitae aliquam mollitia nobis reiciendis dolore hic ipsam dolorem quod voluptates, in unde enim vel ducimus! Amet, molestiae.
              Sit maxime eum minima! Iusto aliquid, reprehenderit recusandae tempora aliquam eaque nobis rerum reiciendis, a facere suscipit quia in adipisci quasi ipsum laudantium accusantium officia vel voluptatibus harum sunt voluptatum!</p>
              <a class="text-color-yellow" href="#">https://</a>
            </div>
          </q-tab-panel>
          
          <q-tab-panel name="agriculture-alimentaire">
            <div class="q-pa-sm">
              <h4 class="text-color-yellow">Agriculture Alimentaire</h4>
              Le secteur agricole se place en seconde position dans les émissions de gaz à effet de serre en France. Pourtant les émissions de ce secteur ont diminué de 8% entre 1990 et 2019. Cette diminution provient en partie d’une meilleure gestion des ressources en interne, avec par exemple la gestion des déjections sous forme de lisier. Ce secteur serait responsable de 14,5% des émissions de gaz à effet de serre mondiales, 70% des terres agricoles dans le monde sont utilisées pour répondre aux besoins de l’élevage ce qui comprend aussi des terres non cultivables et peut, par conséquent, mener à la déforestation pour gagner de la place. 
              La France est un pays consommateur de viande avec une consommation annuelle de 84,4kg par habitant. Un changement dans nos habitudes alimentaires pourrait réduire drastiquement nos émissions de GES, mais cela dépend aussi du type de viande. 
              Il faut tout de même préciser qu’il existe des bénéfices environnementaux : le rôle des prairies dans le stockage de carbone et le maintien de la biodiversité ne sont que deux exemples. Les méthodes d’élevage naturelles ont cependant des impacts bien plus positifs que l’élevage de masse qui s’est aussi développé ces dernières années.
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 1</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 2</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 3</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-green q-pa-md">
              <div class="text-h6 text-color-yellow">Nos sources pour aller plus loin</div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusantium temporibus fugiat quia alias sunt inventore molestiae quas minus. Dignissimos, soluta tempore provident numquam beatae ex hic explicabo aliquam delectus.
              Similique enim excepturi ipsum at praesentium facilis dolores esse totam, dolorum tempora accusamus quas. Hic beatae facilis maiores, aliquid iusto aut! Nostrum labore praesentium rem libero odit quam esse? Sunt?</p>
              <a class="text-color-yellow" href="https://agriculture.gouv.fr/">https://agriculture.gouv.fr/</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam minus rem vitae aliquam mollitia nobis reiciendis dolore hic ipsam dolorem quod voluptates, in unde enim vel ducimus! Amet, molestiae.
              Sit maxime eum minima! Iusto aliquid, reprehenderit recusandae tempora aliquam eaque nobis rerum reiciendis, a facere suscipit quia in adipisci quasi ipsum laudantium accusantium officia vel voluptatibus harum sunt voluptatum!</p>
              <a class="text-color-yellow" href="https://www.lemonde.fr/">https://www.lemonde.fr/</a>
            </div>
          </q-tab-panel>
          
          <q-tab-panel name="industrie">
            <div class="q-pa-sm">
            <h4 class="text-color-yellow">Industrie</h4>
            Quatrième contributeur d’émission de gaz à effet de serre en France, et est la résultante des processus de fabrication industrielle. Le Co2 provient de la décarbonation, qui est la réaction chimique qui libère du Co2, compose près de la moitié de ces GES. C’est pourtant cette industrie qui a le plus réduit ses émissions entre 1990 et 2019. 

Les émissions du secteur de la chimie, qui représentent 25 % des émissions de l’industrie manufacturière, ont diminué de 63 % depuis 1990, celles de la branche des minéraux non-métalliques et de la fabrication des matériaux de construction (23 % des émissions du secteur de l’industrie manufacturière) de 38 % et celles de la métallurgie des métaux ferreux (20 % des émissions du secteur de l’industrie manufacturière) de 41 %.
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 1</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 2</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-yellow-left border-yellow-left bg-white q-pa-md q-my-lg">
              <div class="text-h6 text-color-yellow">Question / Information 3</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium? Temporibus eveniet corporis libero quos explicabo voluptatibus ipsum nemo voluptatum, earum maxime aspernatur necessitatibus, velit eos voluptatem sed fugit tempora?
              Esse cumque doloribus similique magni vel harum quia nobis officiis quas consequuntur tenetur, maiores hic voluptatum nisi a veniam aspernatur dolor enim! Non id repudiandae quas repellendus animi corrupti aspernatur!
              Saepe earum dolorem corrupti beatae commodi amet explicabo odio ex perspiciatis vitae est eos, velit facere quis ut, non ipsum nesciunt magni temporibus porro rerum nihil! Obcaecati quos cumque necessitatibus.
              Vero, autem quisquam tempora fuga quidem id facere ullam dignissimos pariatur quae necessitatibus magni provident maxime aperiam incidunt, ad odio omnis consectetur exercitationem nostrum eos nesciunt, illo voluptate temporibus. Autem.
              Non maiores cumque necessitatibus est, et incidunt harum suscipit impedit error quidem reiciendis quod nihil eum tempore delectus commodi alias expedita, vero facilis. Aliquam consectetur expedita quo blanditiis, facere adipisci!</p>
            </div>
            <div class="border-green q-pa-md">
              <div class="text-h6 text-color-yellow">Nos sources pour aller plus loin</div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusantium temporibus fugiat quia alias sunt inventore molestiae quas minus. Dignissimos, soluta tempore provident numquam beatae ex hic explicabo aliquam delectus.
              Similique enim excepturi ipsum at praesentium facilis dolores esse totam, dolorum tempora accusamus quas. Hic beatae facilis maiores, aliquid iusto aut! Nostrum labore praesentium rem libero odit quam esse? Sunt?</p>
              <a class="text-color-yellow" href="#">https://</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam minus rem vitae aliquam mollitia nobis reiciendis dolore hic ipsam dolorem quod voluptates, in unde enim vel ducimus! Amet, molestiae.
              Sit maxime eum minima! Iusto aliquid, reprehenderit recusandae tempora aliquam eaque nobis rerum reiciendis, a facere suscipit quia in adipisci quasi ipsum laudantium accusantium officia vel voluptatibus harum sunt voluptatum!</p>
              <a class="text-color-yellow" href="#">https://</a>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
      </div>
    </div>
    </q-page>
</template>
  
<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      tab: ref('batiment')
    }
  }
}
</script>
  
<style>
.border-green  {
  border: 0.15rem solid #b3cb02;
}
.text-color-yellow  {
  color: #F2A20C;
}
.bg-color-yellow  {
  background-color: #F2A20C;
}
.texte-intro  {
  font-size: 1.2em;
}
.border-yellow-left {
  border-left: 0.30rem solid #F2A20C;
}
</style>
  