<template>
    <div class="row justify-center q-mb-lg">
        <div class="col-9">
            <h2>
                RGPD
            </h2>
            <div class="padding-title">
                <h4>
                    Oh no
                </h4>
                <div class="content-bg padding-content">
                    <p>On ne collecte pas de données</p>
                    <div class="text-center">
                        <span class="emoji-large">{{ emoji }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
export default {
  data() {
    return {
      emoji: '😭'
    };
  }
};
</script>


<style>
.content-bg {
  background-color: #ecedda;
}

.padding-title {
    padding: 0 2%;
}

.padding-content {
    padding: 2%;
}

.emoji-large {
  font-size: 30em;
}

h4 {
    color: #F2A20C;
}
</style>
