<template>
  <q-btn @click="backToTop" class="back-to-top">
    <q-icon name="arrow_upward" class="text-white" />
  </q-btn>
</template>

<script>
export default {
  methods: {
    backToTop() {
      window.scrollTo({ top: 0, behavior: "smooth" });
    },
  },
};
</script>

<style>
.back-to-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  border-radius: 12px;
  background-color: #06832d;
  opacity: 75%;
}
</style>
