<template>
    <q-header bordered class="custom_border_header" >
      <q-toolbar class="bg-white text-grey-8" >
        <q-toolbar-title>
          OctoDev Dynasty
        </q-toolbar-title>

        <q-btn
          flat
          icon="home"
          aria-label="Quizz de bienvenue"
          label="Accueil"
          to="/"
        />
        <q-btn
          flat
          icon="sticky_note_2"
          aria-label="Ressources documentaires"
          label="Ressources"
          to="/ressources"
        > 
          <q-tooltip>RTFM</q-tooltip>
        </q-btn>

        <q-btn
          flat
          icon="quiz"
          aria-label="Questionnaire mode expert"
          label="Quizz Expert"
          to="/quizz-expert"
        />

        <q-btn
          flat
          icon="data_object"
          aria-label="Association"
          label="Qui sommes-nous ?"
          to="/asso"
        />
      </q-toolbar>
    </q-header>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PageHeader',

  setup () {
    return {
    }
  }
})
</script>

<style>
.custom_border_header {
  background-color: #b3cb02;
  padding-bottom: 5px;
}
</style>