<template>
    <q-footer bordered class="custom_border_footer">
      <q-toolbar class="footer_bg text-grey-8 text-left test" >
        <q-btn
          flat
          aria-label="Mentions légales"
          label="Mentions légales"
          class="q-ma-lg"
          to="/mentionslegales"
        />
        <q-btn
          flat
          aria-label="Protection des données"
          label="RGPD"
          class="q-ma-lg"
          to="/rgpd"
        />
        <q-space />

        <q-btn flat dense class="q-ma-sm" href="https://fr-fr.facebook.com/ReseauActionClimat/">
            <q-avatar size="42px">
                <img src="https://img.icons8.com/color/48/facebook.png" alt="facebook">
            </q-avatar>
        </q-btn>
        <q-btn flat dense class="q-ma-sm" href="https://twitter.com/racfrance">
            <q-avatar size="42px">
            <img src="https://img.icons8.com/ios-filled/50/twitterx--v2.png" alt="twitter">
            </q-avatar>
        </q-btn>
        <q-btn flat dense class="q-ma-sm" href="https://www.instagram.com/reseauactionclimat/">
            <q-avatar size="42px">
            <img src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram">
            </q-avatar>
        </q-btn>
      </q-toolbar>
    </q-footer>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PageFooter',

  setup () {
    return {
    }
  }
})
</script>

<style>
.custom_border_footer {
  background-color: #b3cb02;
  padding-top: 3px;
}

.footer_bg {
    background-color: #ecedda;
}

.test {
    padding-left: 50px;
}
</style>