<template>
  
    <q-page class="flex flex-center " window-width="100%">
      <q-card class="my-card">
          <div>
            score : {{ score }}
          </div>
        <q-card-section>
          <div v-for="(question, index) in DataQuizzExpert.data" :key="index">

            <div v-if="index === indexEnCours">
              <p>{{ question.question }}</p>
            
              <q-btn  
                      v-for="(answer, indexReponse) in question.resultat" :key="indexReponse"
                      :id="answer.reponseId"
                      :color="color[indexReponse]" text-color="black" 
                      :label="answer.reponse" @click="affichageExplain(answer, indexReponse)"/>

              <p v-if="cliquer === true"> {{ question.explication }}</p>
              

              <q-btn  v-if="cliquer === true"
                      color="white" text-color="black" 
                      label="Question suivante" @click="next()"/>
                  
            </div>
            
  
            <div v-if="repondu">
              <div v-if="reponseBonne">Réponse correct</div>
              <div v-else>Réponse incorrect</div>
            </div>
          </div>
          <q-btn v-if="repondu" color="white" text-color="black" label="Question suivante" @click="next()"/>
        </q-card-section>
      </q-card>
    </q-page>
  </template>
  
  <script setup>
  import { ref, defineComponent } from 'vue'
  import { useQuestionStore } from 'src/stores/store';
  import DataQuizzExpert from 'src/data/quizz_expert.json';

  
  const questionStore = useQuestionStore();
  const reponseBonne = ref(false);
  const repondu = ref(false);
  const index = ref(0);
  const indexReponse = ref(1);
  const question = ref("");
  const score = ref(0);

  const indexEnCours = ref(0);
  const cliquer = ref(false);
  const color = ref(["white", "white", "white", "white"]);
  
  
  //let answered = true;
  //let questions = new Array({q : "is it false", res: 0}, {q : "is it true", res: 1});
  
  defineComponent({
      name: 'QuizzExpert'
  })
  function test(bool) {
    const result = (questionStore.questions[index.value].res);
    if(result === bool){
      if(!repondu.value){
        score.value++;
      }
      reponseBonne.value = true;
    }
    else{
      reponseBonne.value = false;
    }
    repondu.value = true;
    // if(bool=== questionStore.find(id=>id==1))
  }
  
  function next() {
    indexEnCours.value++;
    cliquer.value = false;
    color.value = ["white", "white", "white", "white"]
  
    // if(bool=== questionStore.find(id=>id==1))
  }

  function affichageExplain(answer, indexReponse){
    if((answer.bonneReponse === true) ){
      color.value[indexReponse] = "green";
    } else {
      color.value[indexReponse] = "red";
    }
    //indexReponse.value++;
    cliquer.value = true;
  }
  </script>
  
  