<template>
  <q-layout view="lHh Lpr lFf">
    <PageHeader/>

    <q-page-container>
      <router-view />
    </q-page-container>

    <back-to-top-button />
    <PageFooter/>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import PageHeader from 'components/PageHeader.vue'
import PageFooter from 'components/PageFooter.vue'
import BackToTopButton from "components/BackToTopButton.vue";

export default defineComponent({
  name: "MainLayout",

  components: {
    PageHeader,
    PageFooter,
    BackToTopButton,
  },

  setup() {
    return {};
  },
});
</script>

<style>
.custom_border {
  background-color: #b3cb02;
  padding-bottom: 5px;
}
</style>
